<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>
<body>
  {% extends 'layouts/base.html' %}

  {% block content %}
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, quis mollitia tenetur nisi hic animi illo eligendi quisquam dolor distinctio molestias placeat sed consequuntur fuga possimus accusantium delectus deleniti eaque.</p>

    <span>web side create by:{{username}}</span>
  {% endblock %}
</body>
</html>